node_modules
/*.bat

# MacOS folder icon (hidden file)
**/Icon?
**/.DS_Store

package-lock.json

# gta artifact
new-version-artf.txt

# Distribution files folder
dist/**

# Extension compiled files
/**/Bin/**
/**/obj/**

# Ignoring .vs folder
/**/.vs/**

# Ignoring DataGridUtils backups
/extension/DataGridUtils/Backups/**
