node_modules
/*.bat

# MacOS folder icon (hidden file)
**/Icon?
**/.DS_Store

package-lock.json

# gta artifact
new-version-artf.txt

# Distribution files folder
dist/**

# Extension compiled files
extension/DataGridUtils/Source/NET/bin/**
extension/DataGridUtils/Source/NET/obj/**

# Ignoring .vs folder
extension/DataGridUtils/Source/NET/.vs/**