node_modules
/*.bat

# MacOS folder icon (hidden file)
**/Icon?
**/.DS_Store

package-lock.json

# gta artifact
new-version-artf.txt

# Distribution files folder
dist/**

# Extension compiled files
/extension/DataGridUtils/Source/NET/Bin/**
/extension/DataGridUtils/Source/NET/obj/**
/extension/tests/bin/**
/extension/tests/obj/**

# Ignoring .vs folder
/NET/.vs/**
/tests/.vs/**

/extension/DataGridUtils/Backups/**